/* .Main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Game {
  display: grid;
  grid-template-columns: repeat(16, 3rem);
  z-index: 200;
}

.GameModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BannerWin p {
  margin: 0;
  text-align: center;
}

.BannerWin p:first-child {
  color: red;
}

.PlayAgain:last-child {
  border: 1px solid green;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: green;
  color: white;
}

.PlayAgain:last-child:hover {
  background-color: white;
  color: green;
  cursor: pointer;
} */


.Main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3rem)[16];
  grid-template-columns: repeat(16, 3rem);
  z-index: 200;
}

.GameModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BannerWin p {
  margin: 0;
  text-align: center;
}

.BannerWin p:first-child {
  color: red;
}

.PlayAgain:last-child {
  border: 1px solid green;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: green;
  color: white;
}

.PlayAgain:last-child:hover {
  background-color: white;
  color: green;
  cursor: pointer;
}